/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import 'bootstrap/scss/bootstrap';
 $fa-font-path: '@fortawesome/fontawesome-free/webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome';
@import '@fortawesome/fontawesome-free/scss/brands';
@import '@fortawesome/fontawesome-free/scss/solid';
@import '@fortawesome/fontawesome-free/scss/regular';
@import '@fortawesome/fontawesome-free/scss/v4-shims';


 .brand-size {
     width: 7rem;
     height: 7rem;
     position: fixed;
     padding: 0;
 }
 
 .masthead-img {
    background: url(webbackground.jpg) no-repeat 50% 50%;
    height: 100%;
    background-size: cover;
    background-attachment: fixed; 
 }

 .margin-div{
     padding-top: 10em;
     padding-bottom: 5em;
 }

 .img-carousel-custom {
     width: 35em;
     height: 25em;
 }
 .logo {
     width: 8rem;
     height: 8rem;
 }

 .bg-custom-web {
     background-image: url('webbackground.jpg');
     no-repeat: 50% 50%;
     background-size: cover;
     background-attachment: fixed;     
 }

 .shadow{
     text-shadow: 0 1px 0  black;
     

 }
 .masthead-logo {
     width: 25rem;
     height: 25rem;
 }
 .img-style {

    width: 80%;
    height: 80%;
 }